# .github/workflows/deno.yml
name: Deno CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  deno-check:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
          cache: true

      - name: Check formatting
        working-directory: .
        run: deno fmt --check

      - name: Check types
        working-directory: .
        run: deno check

      - name: Lint code
        working-directory: .
        run: deno lint
